d@charset "UTF-8";
/* CSS Document */

  .auWrapper {
    background-color:#FFFFFF;
	width:850px;
	padding-bottom:40px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
  }
  .auContent {
    width:800px;
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
  }
  .auHeaderBlock {
    position:relative;
	width:100%;
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    font-size:small;
	color:#616468; 
	line-height:150%;
  }
  .auHeader {
    color:#F77C0F;
	font-size:x-large;
	line-height:150%;
	position:relative;
	width:100%;
	padding-bottom:25px;
  }
  .auSubHeader {
    color:#6b98bf;
	font-size:large;
	line-height:150%;
	position:relative;
	width:100%;
  }
  .auDocWrapper {
    margin-top:25px;
	padding:15px;
	border:1px solid #e4e4e4;
  }
  .auTextBlock {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    font-size:small;
    color:#616468;
	line-height:150%;
	position:relative;
  }
  .auTextBlock-li-disc {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    font-size:small;
    color:#616468;
	line-height:150%;
	position:relative;
	list-style:disc;
  }
  .auTextBlock-li-alpha {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    font-size:small;
    color:#616468;
	line-height:150%;
	position:relative;
	list-style-type:lower-alpha;
  }
  .auTableBlock {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    font-size:small;
    color:#616468;
	line-height:150%;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #e4e4e4;
	position:relative;
	text-align:center;
  }
  .auTableBlock td, th {width: 50%;}
  .auTableBlock th {background-color:#f4f4f4;}
  .auSubBlock {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    font-size:small;
    color:#616468;
	line-height:150%;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
  }
  .auSubBlock-header {
    color:#616468;
	text-align:center;
	font-size:medium;
	line-height:150%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
  }
  .auSubBlock-ol {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    font-size:small;
    color:#616468;
	line-height:150%;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
  }
  .auSubBlock-ol li {
	padding-bottom:15px;
  }
  .auSubBlock-ol li:last-child {
	padding-bottom:0px;
  }
  .auFinePrint {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    font-size:small;
    color:#333333;
	font-style:italic;
	line-height:150%;
	position:relative;
  }
  .auColumnBlock {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    color:#616468;
	line-height:150%;
	position:relative;
	float:left;
	width:45%;
  }
  .auColumnSpacer {
    float:left;
	position:relative;
	width:5%;
  } 
  .auDivider {
    clear: both; 
	height: 1px; 
	overflow: hidden;
    width:100%;
	height:100px;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url('../img/hp-divider-1024.png?v=4ed595a346c1db8057c9911e8d6c0d65617d6286');
  }
  .auProfile-wrapper {
    position:relative;
	width:100%;
  }
  .auProfile-pic {
    float:left;
	margin-right:50px;
  }
  .auProfile-block {
    font-size:small;
    float:left;
	width:550px;
  }
  .auProfile-SM-container {
    position:relative;
	width:100%;
  }
  .auProfile-SM {
    float:left;
    font-family:'Frutiger LT W01 65 Bold', Helvetica, Arial, sans-serif;
	color:#333333;
	vertical-align:middle;
	height:16px;
  }
  .auProfile-clear {
    clear:both;
	height:50px;
  }
  .auProfile-SM-pic {
    vertical-align:middle;
	border:0;
	width:26px;
	height:26px;
  }
  .auProfile-text {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    color:#616468;
    line-height:150%;
	margin-top:15px;
  }
  .auFont-LG {
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
    color:#616468;
  }
  .auColor-ccc {
    color:#cccccc;
  }
  .auNoDecor {
    text-decoration:none;
  }
  .auClear {
    clear:both;
  }
  .auTech-wrapper {
    position:relative;
    width:100%;
  }
  .auTech-item {
    float:left;
    margin-right:25px;
  }
  .auTech-item-last {
    float:left;
    margin:0px;
  }
  .auTech-rowClear {
    clear:both;
    height:25px;
  }
  .auTech-logo {
    border:0;
    width:140px;
    height:140px;
  }
  .auLoc-row {
    font-size:small;
    position:relative;
    width:100%;
    padding:0px 15px 0px 15px;
  }
  .auLoc-item {
    float:left;
    position:relative;
    width:33%;
  }
  .auLoc-mapIcon {
    height:16px;
    width:16px;
    display:block;
    position:relative;
    top:32px;
    left:-20px;
    z-index:3;
    margin-top:5px;
    cursor:pointer;
  }
  .auLoc-p {
    color:#616468;
    line-height:150%;
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif;
  }
  .auLoc-title {
    font-family:'Frutiger LT W01 65 Bold', Helvetica, Arial, sans-serif !important;
	font-weight:bold;
  }
  .auLoc-link {
    text-decoration:none !important;
	font-family:'FrutigerLTW01-45Light', Helvetica, Arial, sans-serif !important;
    color:#6B98BF !important;
  }
  .auLoc-map {
    float:left;
    position:relative;
    height:215px;
    width:429px;
    margin-left:50px;
  }
  #imageContainer:hover {
    -webkit-box-shadow:  0px 0px 10px 2px #6b98bf;
    box-shadow:  0px 0px 10px 2px #6b98bf;
  }
  .auLoc-images {
    width: 429px;
    height: 215px;
    position: relative;
    overflow: hidden;
    background: #eee;
    top:25px;
  }
  .auLoc-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 429px;
    height: 215px;
    z-index: 1;
  }