@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

BODY {
	background: url('images/lightDust.png?v=') #f7f7f7;
	font-family: Helvetica, Arial;
	color: #0086bb;
	font-size: 13px;
}

a {
	color: #0086bb;
	text-decoration: none;
}

#terms {
	clear: both;
	color: #999;
	margin-bottom: 26px;
}

.formMail p {
	color: #999;
	margin-bottom: 26px;
}

#top {
	width: 100%;
	height: 38px;
	background: #64a500 url('images/hardDust.png?v=');
	position: absolute;
	top: 0;
	left: 0;
}

#productLogo {
	width: 108px;
	height: 38px;
	float: left;
	margin-left: 26px;
}

#userName, #topLinks {
	height: 38px;
	font-size: 13px;
	color: #fff;
	float: right;
	padding-right: 26px;
}

#topLinks a {
	padding-left: 26px;
	text-decoration: none;
	color: #fff;
}

#user_name_preview, #topLinks {
	line-height: 38px;
}

img {
	border: none;
}

#userPhoto {
	float: left;
	width: 22px;
	height: 22px;
	border: 2px solid #fff;
	margin-right: 13px;
	margin-top: 6px;
}

#loginRegister {
	float: right;
	font-size: 12px;
	line-height: 34px;
}

#loginRegister a {
	text-decoration: none;
	color: #fff;
}

#loginRegister a:hover {
	text-decoration: underline;
}

.container {
	margin: 0px auto;
	width: 650px;
	background: #fff;
	box-shadow: 0px 0px 8px #dadada;
	-webkit-box-shadow: 0px 0px 8px #dadada;
	-moz-box-shadow:    0px 0px 8px #dadada;
	display: table;
}

.containerLogin {
	width: 325px;
	margin-top: 130px;
	margin: 130px auto 0 auto;
	background: #fff;
	box-shadow: 0px 0px 8px #dadada;
	-webkit-box-shadow: 0px 0px 8px #dadada;
	-moz-box-shadow:    0px 0px 8px #dadada;
	display: table;
}

.containerLogin .pageHeading {
	margin-top: 0px;
}

.pageHeading {
	margin-top: 38px;
	font-size: 26px;
	border-bottom: 1px solid #eee;
	padding: 26px;
	font-weight:300;
}

.text {
	font-size: 13px;
	padding: 24px 26px 0px 26px;
	width: 273px;
	float: left;
}

.wide {
	width: 598px !important;
	margin-bottom: 26px;
}

.text p {
	margin-top: 32px;
	float: left;
	line-height: 19px;
}

.moreText {
	font-size: 19px;
	font-weight: 300;
}

.mailLink {
	font-size: 14px;
	font-weight: bold;
}

.infoText {
	font-size: 13px;
	color: #222;
	line-height: 19px;
}

.text img {
	margin-left: 35px;
}

.formMail {
	padding-top: 40px;
	margin: 0px auto;
	padding: 24px 26px 0px 26px;
	width: 273px;
	float: left;
}

.emailInput {
	width: 271px;
	border: 1px solid #ccc;
	height: 30px;
	font-size: 13px;
	color: #0086bb;
	float: left;
	margin-bottom: 13px;
}

.submitButton {
	margin-top: 13px;
	margin-bottom: 26px;
	float: right;
	padding: 0px  13px;
	height: 30px;
	background: #64a500;
	border: 1px solid #263f00;
	font-size: 13px;
	color: #fff;
}

.submitButton:focus {
	outline: 1px dotted black;
	outline-offset: -1px;
}

.submitButton:hover {
	background: #539400;
	border: 1px solid #1a2e00;
}

.formSecond {
	padding-top: 40px;
	margin: 0px auto;
	padding: 24px 26px 0px 26px;
	width: 273px;
	float: left;
}

.verificationAlert {
	background: #ffefee;
	color: #bb0d00;
	margin-bottom: 13px;
	min-height: 26px;
	line-height: 26px;
	padding: 6px 13px;
	font-size: 13px;
}

.verificationAlert a {
	color: #0086bb;
}


.companyInput, .nameInput, .nameInputInv, .pwdInput, .pwdInput2, .mailLogin {
	width: 259px;
	padding-left: 12px;
	border: 1px solid #ccc;
	line-height: 30px\9;
	height: 30px;
	font-size: 13px;
	color: #0086bb;
	float: left;
	margin-bottom: 13px;
}

.nameInputInv {
	margin-top: 0px;
}

.placeholderText {
	color: #222;
	float: left;
	font-size: 13px;
	padding-bottom: 4px;
}

.pwdStrenght {
	font-size: 13px;
	display: none;
	float: left;
}

.pwdWeak {
	color: #999;
}

.pwdGood {
	color: #999;
}

.pwdStrong {
	color: #999;
}

.pwdMessage {
	margin-top: 0px;
	margin-left: 5px;
}


.mailLogin {
}

#companyUrl, #companyUrlMessage {
	display: none;
	width: 530px;
	background: #fff;
	float: left;
	font-size: 12px;
	color: #999;
}

#companyUrl {
	border-top: 1px solid #c3dfa7;
	height: 39px;
	padding-top: 9px;
}

#companyUrlMessage {
	text-indent: 12px;
	color: #86c54c;
}

input#urlInput {
    position: relative;
	display: none;
	xborder: none;
    border: solid 1px;
    border-color: transparent;
	color: #0086bb;
	float: left;
	width: 40%;
}

input#urlInput:focus {
    top: -4px;
    margin: 0;
    padding: 2px;
    border-color: gainsboro;
}

.editPermalink {
	float: left;
	margin: 0px;
	text-indent: 0px;
	color: red;
	cursor: pointer;
}

.float {
	float: left;
}

.floatPadding {
	float: left;
	margin-left: 12px;
}

.submitStep2 {
	margin-top: 13px;
	margin-bottom: 26px;
	float: right;
	padding: 0px 13px;
	height: 30px;
	background: #64a500;
	border: 1px solid #263f00;
	font-size: 13px;
	color: #fff;
}

.submitStep2:hover {
	background: #539400;
	cursor: pointer;
	border: 1px solid #1a2e00;
}

.submitStep2:focus {
	outline: 1px dotted black;
	outline-offset: -1px;
}

input {
	font-family: Helvetica, Arial;
	font-size: 13px;
}

input:focus {
	outline: none;
}

input:active {
	outline: none;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

h3 {
	color: #222;
	font-size: 19px;
	margin-bottom: 15px;
	font-weight: 300;
}

.message {
	color: #222;
	line-height: 19px;
}

.message a {
	color: #006796;
	font-weight: normal;
	text-decoration: none;
}

.messageFail {
	border: 1px solid #bba000;
	background: #feffc9;
	color: #222;
	font-size: 13px;
	margin: 26px;
}

.messageFailText {
	margin: 20px;
}

.messageFailBack {
	float: right;
	margin-right: 26px;
	height: 32px;
	line-height: 32px;
	margin-bottom:26px;

}

.messageFailBack a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 13px;
	background: #64a500;
}

.messageFailBack a:hover  {
	background: #539400;
}

.invalidField {
	color: #bb0d00;
	border: 1px solid #bb0d00;
}

.invalidField::-webkit-input-placeholder {
    color:    #bb0d00;
}
.invalidField:-moz-placeholder {
    color:    #bb0d00v;
}
.invalidField:-ms-input-placeholder {
    color:    #bb0d00;
}

input:-webkit-input-placeholder {
    color:    #ccc;
}
input:-moz-placeholder {
    color:    #ccc;
}
input:-ms-input-placeholder {
    color:    #ccc;
}

#forgot {
	margin: 0 auto;
	margin-top: 26px;
	margin-bottom: 13px;
	font-size: 13px;
	text-align: center;
	width: 325px;
}

#forgot a {
	color: #777;
}

.rememberDiv {
	float: left;
	margin-top: 20px;
	color: #999;
	font-size: 13px;
}

#bottom {
	display: none;
}


@media all and (max-width: 699px),
	all and (max-device-width: 699px) {

HTML {
	-webkit-text-size-adjust: none; /* prevent iPhone from resizing our fonts */
}

BODY {
	background-image: none;
	background-color: #eee;
	width: 100%;
}

#productLogo {
	margin-left: 10%;
}

#userName, #topLinks {
	background: none;
	display: none;
}

.loginRegister {
	float: right;
	font-size: 12px;
	padding-top: 7px;
}

.loginRegister a {
	text-decoration: none;
	color: #fff;
}

.loginRegister a:hover {
	text-decoration: underline;
}


.container {
	width: 100%;
	background: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-bottom: 1px solid #ccc;
}

.containerLogin {
	width: 100%;
	margin-top: 38px;
	padding-bottom: 13px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-bottom: 1px solid #ccc;
}

.containerLogin .formSecond {
	padding-top: 26px;
}

.pageHeading {
	padding-left: 10%;
	padding-right: 10%;
}

.text {
	padding: 0px;
	margin: 0 0 0 10%;
	width: 80%;
	font-size: 13px;
	line-height: 19px;
	float: left;
}

.text p {
	margin-top: 5px;
	margin-bottom: 15px;
}

.wide {
	width: 80% !important;
}

.moreText {
	margin-top: 26px;
}

.formMail, .formSecond {
	background: none;
	margin: 10px 0 0 0;
	padding: 0px;
	width: 100%;
}

.emailInput  {
	width: 80%;
	margin-left: 10%;
	float: none;
	margin-bottom: 10px;
	font-size: 13px;
	padding: 0px;
}

.verificationAlert {
	width: 70%;
	margin-left: 10%;
	padding-left: 5%;
	padding-right: 5%;
	float: left;
}

.companyInput, .nameInput, .nameInputInv, .pwdInput, .pwdInput2, .mailLogin {
	width: 80%;
	margin-left: 10%;
	padding-left: 0px;
	text-indent: 10px;
	font-size: 13px;
	float: none;
	-webkit-appearance: none;
	border-radius: 0px;
}


.pwdStrenght {
	width: 80%;
	margin-left: 10%;
	margin-top:12px;
	border-radius: 10px;
	min-height: 24px;
	line-height: 24px;
	font-size: 12px; 
	font-weight: bold;
	display: none;
}

#companyUrl, #terms, #text {
	width: 80%;
	margin-left: 10%;
}

#companyUrlMessage {
	width: 100%;
}

.submitButton, .submitStep2 {
	float: none;
	width: 80%;
	margin-left: 10%;
	padding-left: 10px;
	-webkit-appearance: none;
	border-radius: 0px;
}

.logo {
	background: none;
	display: none;
}

#rememberDiv {
	display: none;
}

#forgot {
	width: 80%	;
}

#bottom {
	display: block;
	margin-top: 39px;
	margin-bottom: 13px;
	font-size: 13px;
	text-align: center;
	line-height: 26px;
}

#bottom a {
	color: #999;
	text-decoration: none;
}

#loginPageHeading {
	display: none;
}

}